# SPDX-License-Identifier: AGPL-3.0-or-later
# Aegis code owners. Tweak when the team grows. Until then every
# change requests a single review from the @QAdversif/AegisPanel-maintainers
# team; the team is created once the public repository is set up.

*                               @QAdversif/AegisPanel-maintainers
/backend/                        @QAdversif/AegisPanel-maintainers
/frontend/                       @QAdversif/AegisPanel-maintainers
/deploy/                         @QAdversif/AegisPanel-maintainers
/docs/                           @QAdversif/AegisPanel-maintainers
/.github/                        @QAdversif/AegisPanel-maintainers

/ARCHITECTURE.md                 @QAdversif/AegisPanel-maintainers
/CHANGELOG.md                    @QAdversif/AegisPanel-maintainers
/LICENSE                         @QAdversif/AegisPanel-maintainers
/README.md                       @QAdversif/AegisPanel-maintainers
/SECURITY.md                     @QAdversif/AegisPanel-maintainers
/CONTRIBUTING.md                 @QAdversif/AegisPanel-maintainers
